.div-footer {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  background-color: black;
  color: white;
  padding: 1rem 0;
}

.container-logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 10%;
  box-sizing: border-box;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  color: white;
}

.image-box {
  min-width: 160px;
  max-width: 100%;
  height: auto;
  margin-right: 1rem;
}

.container-user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-height: 56px; */
}

.container-user-info p {
  margin: 0;
  font-size: 1.2rem;
}

.container-user-info h2 {
  margin-bottom: 0.5rem !important;
}
