.div-footer {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    background-color: black;
    color: white;
    padding: 1rem 0;
}

.container-logo {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: white;
  }
  
  .image-box {
    max-width: 120px;
    max-height: 60px;
    margin-right: 1rem;
  }